---

---

<h1 class="heading">Hey</h1>
<div class="paragraph">
  <p>
    嗨！我是
    Yo0，目前是一位吉他手也是一位前端工程師。熱愛音樂與程式設計，喜歡在這裡分享我的學習歷程與生活點滴。
  </p>
  <p>
    探索更多內容，歡迎查看
    <a
      href="https://github.com/8366888C/Ryze/blob/main/README.md"
      target="blank"
      class="link animation">這裡</a
    > 了解我的故事！
  </p>
</div>
