---

---

<div class="bg-accent grid grid-cols-2 gap-3 rounded-xl p-1">
  <a
    href="/giscus-comments-in-Ryze"
    class="ring-background group bg-accent hover:bg-background w-full rounded-lg px-6 py-3 pb-5 hover:ring-3 active:ring-0"
  >
    <div class="flex items-center justify-end gap-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left stroke-background size-6 stroke-1 opacity-100"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path d="M5 12l6 -6"
        ></path></svg
      >
      <p class="paragraph text-background group-hover:text-accent">prev</p>
    </div>
    <h1
      class="group-hover:text-foreground text-background text-end text-2xl font-semibold group-hover:font-normal"
    >
      How to integrate giscus comments into Ryze
    </h1>
  </a>
  <a
    href="/markdown-showcase"
    class="ring-background group hover:bg-background bg-accent w-full rounded-lg px-6 py-3 pb-5 hover:ring-3 active:ring-0"
  >
    <div class="flex items-center justify-start gap-3">
      <p class="paragraph text-background group-hover:text-accent">next</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right stroke-background group-hover:stroke-accent size-6 stroke-1 opacity-100"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M5 12l14 0"></path><path d="M13 18l6 -6"></path><path d="M13 6l6 6"
        ></path></svg
      >
    </div>
    <h1
      class="group-hover:text-foreground text-background text-2xl font-semibold group-hover:font-normal"
    >
      Ryze Markdown Showcase: A Complete Guide
    </h1>
  </a>
</div>
