---
const { frontmatter, readTime } = Astro.props;
---

<h1 class="blog-title">
  {frontmatter.title}
</h1>
<div class="flex items-center justify-between">
  <div class="mt-2 space-y-1">
    <div class="flex gap-8">
      <div class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-week size-5 stroke-1"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
          ></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path
            d="M4 11h16"></path><path d="M7 14h.013"></path><path
            d="M10.01 14h.005"></path><path d="M13.01 14h.005"></path><path
            d="M16.015 14h.005"></path><path d="M13.015 17h.005"></path><path
            d="M7.01 17h.005"></path><path d="M10.01 17h.005"></path></svg
        >
        <p class="font-mono text-base opacity-90">
          {
            frontmatter.date
              .toLocaleDateString("en-GB", {
                day: "numeric",
                month: "short",
                year: "numeric",
              })
              .slice(0, 11)
          }
        </p>
      </div>
      <div class="flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-3 size-5 stroke-1"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
            d="M12 12h3.5"></path><path d="M12 7v5"></path></svg
        >
        <p class="font-mono text-base opacity-90">{readTime} min read</p>
      </div>
    </div>
    <div class="group flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="icon icon-tabler icons-tabler-filled icon-tabler-tag fill-background stroke-foreground group-hover:fill-foreground group-hover:stroke-background size-5 stroke-1"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M11.172 2a3 3 0 0 1 2.121 .879l7.71 7.71a3.41 3.41 0 0 1 0 4.822l-5.592 5.592a3.41 3.41 0 0 1 -4.822 0l-7.71 -7.71a3 3 0 0 1 -.879 -2.121v-5.172a4 4 0 0 1 4 -4zm-3.672 3.5a2 2 0 0 0 -1.995 1.85l-.005 .15a2 2 0 1 0 2 -2"
        ></path></svg
      >
      <div class="space-x-2">
        {
          frontmatter.tags.map((tag: string) => (
            <a
              href={`/tags/${tag}/1`}
              class="hover:text-accent text-base opacity-90"
            >
              {tag}
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <a href="/share"></a>
</div>
